/*Fonts for my site*/

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&family=Syne+Mono&display=swap');

.offside-regular {
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Apply to all h1 and home title elements */
h1 {
    font-family: 'Syne Mono', monospace;
}

/* Apply to all h2 elements */
h2 {
    font-family: 'Syne Mono', monospace;
    margin: 0;
}

/*set the alignment of the page*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    font-family: "Offside", sans-serif;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}
/*setting the background color, font and style for the different elements*/
body {
    background-color: #30BCED;
    color: black;
    font-family: "Offside", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EC9EEB;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color:#A5FFF8;
    color: black;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

.book, .join {
    background-color: #2B59C3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #2B59C3;
    color: black;
}

#background {
    background-color: #2B59C3;
    color: black;
}

.msg {
    background-color: #EC9EEB;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #A5FFF8;
    color: black;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: "Offside", sans-serif;
}    


footer p a:hover {
    text-decoration: none;
    font-family: "Offside", sans-serif;
}  

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #000000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;   
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}
/* more style to the icon img */

.logo {
    width: 80px;
    padding-top: 5px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

#background {
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}

.mountains {
    width: 100%;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/*page2 style*/

.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.riversmsg {
    background-color: #EC9EEB;
    color: black;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.6;
}

.riversimage {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    object-fit: cover;
}